<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>NativeScript Developer Day Workshop</title>

	<meta charset="utf-8">
	<meta name="description" content="A guide to help hybrid mobile developers migrate to building native mobile apps with NativeScript">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="css/style.css" rel="stylesheet">
</head>
<body>

<div id="container">
	<div id="header">
		<a href="#" class="menu header-btn" id="toggle-toc"></a>
		<h1>NativeScript Developer Day Workshop</h1>
		<a href="https://github.com/nativescript/developer-day-workshop" class="github header-btn"></a>
	</div>

	<div id="content-container">
		<div id="toc">
			<div class="toc-heading">Table of Contents</div>
			<div id="toc-padding"></div>
		</div>
		<div id="book">
			<div class="chapter">
				<h2 id="introductions">Introductions</h2>
<p>Welcome! The following is your home for the <a href="http://developerday.nativescript.org/">NativeScript Developer Day</a> workshop, being held on September 19th, 2016, in Boston, Massachusetts. Below you’ll find all slides and instructions for the hands-on activities being held throughout the day. The site will remain up well after the event so you can refer back to the material at any time.</p>
<h3 id="prerequisites">Prerequisites</h3>
<p>All attendees must have the NativeScript CLI installed, and all system requirements in place to develop for <em>either</em> iOS or Android. If you haven’t already, complete the installation instructions using the link below.</p>
<ul>
<li><a href="http://docs.nativescript.org/angular/start/quick-setup.html">Complete the NativeScript installation guide</a></li>
</ul>
<blockquote>
<p><strong>TIP</strong>: If you run into issues completing the setup instructions, try <a href="http://developer.telerik.com/wp-login.php?action=slack-invitation">joining the NativeScript Slack</a> and asking questions in the #getting-started channel.</p>
</blockquote>

			</div>
			<hr>
			<div class="chapter">
				<h2 id="what-is-nativescript-">What is NativeScript?</h2>
<p>We’ll start the day with a brief introduction to what NativeScript is, and why you might want to use NativeScript to build your next mobile app. Because we know you’re not here to see us talk in front of slides all day, we’ll keep this short and to the point.</p>
<ul>
<li><a href="">Download slides (.pptx)</a></li>
<li><a href="">Download slides (.pdf)</a></li>
</ul>

			</div>
			<hr>
			<div class="chapter">
				<h2 id="the-basics">The basics</h2>
<p>For our first hands-on workshop, you’ll learn how to build and manage NativeScript apps, as well as how to make simple changes and debug your code.</p>
<h3 id="how-the-cli-works">How the CLI works</h3>
<h3 id="nativescript-folder-structure">NativeScript folder structure</h3>
<h3 id="managing-platforms-and-node_modules-">Managing <code>platforms</code> and <code>node_modules</code></h3>
<h3 id="making-your-first-change">Making your first change</h3>
<h3 id="working-in-visual-studio-code">Working in Visual Studio Code</h3>
<h3 id="setting-up-a-debugging-workflow">Setting up a debugging workflow</h3>

			</div>
			<hr>
			<div class="chapter">
				<h2 id="the-user-interface">The user interface</h2>
<p>Now that you’ve gotten a feel for how NativeScript apps work, let’s shift our focus to the user interface. In our second hands-on workshop, you’ll learn about using UI components, styling them with CSS, and animating them with NativeScript’s robust animation library. In this workshop, we&#39;ll create an adorable Kitten Adoption app with a card interface.</p>
<h3 id="adding-ui-components">Adding UI components</h3>
<h4 class="exercise-start">
    <b>Exercise</b>: Create a new app
</h4>

<p>Let&#39;s create a new NativeScript app for this workshop:</p>
<pre><code>tns create WorkshopTwo --ng
</code></pre><p>Next, change directories into your new project:</p>
<pre><code>cd WorkshopTwo
</code></pre><div class="exercise-end"></div>

<p>Open this new project up in Visual Studio Code (you can type <code>code .</code>) and add our first UI component.</p>
<p>First, let&#39;s take a look at the files we will need to work with. Notice in the <code>/app</code> folder of your project there is a file called <code>app.component.ts</code>. This is where you put the functions that are called by the front-end file, <code>app.component.html</code>.</p>
<p>Open <code>app.component.html</code> and delete everything there.</p>
<p>Start your app&#39;s livesyncing process on iOS by typing into the command line:</p>
<pre><code>tns livesync ios --watch
</code></pre><p>For Android, we recommend using Genymotion; open Genymotion and start an emulator running. type:</p>
<pre><code>tns livesync android --watch
</code></pre><p>Now, when you make changes to your code, your app will refresh in the emulator.</p>
<h4 class="exercise-start">
    <b>Exercise</b>: Add your first UI element
</h4>

<p>Native apps need native-looking controls. We will create a native ActionBar using XML markup. In <code>app.component.html</code>, delete all the markup and replace it with this line:</p>
<pre><code>&lt;ActionBar title=&quot;Adopt A Kitten!&quot;&gt;&lt;/ActionBar&gt;
</code></pre><div class="exercise-end"></div>

<p>Before we go further, we need some data that we can layout on the screen. Let&#39;s grab ten kitten images from <a href="http://placekitten.com">placekitten.com</a> to have them ready to place on our app screen.</p>
<h4 class="exercise-start">
    <b>Exercise</b>: Get some data ready
</h4>

<p>We won&#39;t go into the details now of binding your data to UI as you&#39;ll cover this in the next workshop.</p>
<p>Open <code>app.component.ts</code> and delete everything there. Replace it with the code below:</p>
<pre><code>import {Component} from &quot;@angular/core&quot;;

        @Component({
            selector: &quot;my-app&quot;,
            templateUrl: &quot;app.component.html&quot;
        })
        export class AppComponent {
          public kittens: Array&lt;any&gt;;
          public url: string;
          public counter:number = 200;

            constructor() {
                this.kittens = [];
                this.url = &#39;https://placekitten.com/200/&#39;;

                for (var i = 0; i &lt; 10; i++) {
                    this.counter++;
                    console.log(this.url+this.counter)
                    this.kittens.push(this.url+this.counter);
                }
            }   
        }
</code></pre><p>We&#39;ll use this data in our layout in the next section.</p>
<div class="exercise-end"></div>

<h3 id="types-of-layouts">Types of layouts</h3>
<p>There are five basic layouts offered by NativeScript that correspond to standard native ways of laying elements out onto a page: StackLayout, GridLayout, WrapLayout, DockLayout, and AbsoluteLayout. Let&#39;s take a look at these.</p>
<h4 class="exercise-start">
    <b>Exercise</b>: Experiment with layouts
</h4>

<p>One of the simplest layouts is a StackLayout, which simply stacks elements on top of each other. Paste this code under the ActionBar: </p>
<pre><code>&lt;StackLayout horizontalAlignment=&quot;center&quot;&gt;
    &lt;Image [src]=&quot;kittens[0]&quot; stretch=&quot;none&quot;&gt;&lt;/Image&gt;
    &lt;Image [src]=&quot;kittens[1]&quot; stretch=&quot;none&quot;&gt;&lt;/Image&gt;
    &lt;Image [src]=&quot;kittens[2]&quot; stretch=&quot;none&quot;&gt;&lt;/Image&gt;
&lt;/StackLayout&gt;
</code></pre><p>If you need to position your element in an exact spot, use AbsoluteLayout:</p>
<pre><code>&lt;AbsoluteLayout&gt;
     &lt;Image [src]=&quot;kittens[0]&quot; left=&quot;100&quot; top=&quot;100&quot; width=&quot;200&quot; height=&quot;200&quot; &gt;&lt;/Image&gt;
&lt;/AbsoluteLayout&gt;
</code></pre><p>Try a grid layout by replacing the AbsoluteLayout with the snippet below. You can have control over the format of your grid by tweaking the &#39;*&#39; values. Note the columns/rows vs col/row values.</p>
<pre><code>&lt;GridLayout columns=&quot;*,*,*&quot; rows=&quot;*,*,*,*&quot;&gt;
    &lt;Image [src]=&quot;kittens[0]&quot; col=&quot;0&quot; row=&quot;0&quot; colSpan=&quot;2&quot; rowSpan=&quot;2&quot; stretch=&quot;aspectFill&quot; class=&quot;img&quot;&gt;&lt;/Image&gt;
    &lt;Image [src]=&quot;kittens[1]&quot; col=&quot;2&quot; row=&quot;0&quot; stretch=&quot;aspectFill&quot; class=&quot;img&quot;&gt;&lt;/Image&gt;
    &lt;Image [src]=&quot;kittens[2]&quot; col=&quot;2&quot; row=&quot;1&quot; stretch=&quot;aspectFill&quot; class=&quot;img&quot;&gt;&lt;/Image&gt;
    &lt;Image [src]=&quot;kittens[3]&quot; col=&quot;0&quot; row=&quot;2&quot; stretch=&quot;aspectFill&quot; class=&quot;img&quot;&gt;&lt;/Image&gt;
    &lt;Image [src]=&quot;kittens[4]&quot; col=&quot;1&quot; row=&quot;2&quot; stretch=&quot;aspectFill&quot; class=&quot;img&quot;&gt;&lt;/Image&gt;
    &lt;Image [src]=&quot;kittens[5]&quot; col=&quot;2&quot; row=&quot;2&quot; rowSpan=&quot;2&quot; stretch=&quot;aspectFill&quot; class=&quot;img&quot;&gt;&lt;/Image&gt;
    &lt;Image [src]=&quot;kittens[7]&quot; col=&quot;0&quot; row=&quot;3&quot; colSpan=&quot;2&quot; stretch=&quot;aspectFill&quot; class=&quot;img&quot;&gt;&lt;/Image&gt;
&lt;/GridLayout&gt;
</code></pre><p>If you need elements &#39;docked&#39; onto the top, bottom, and/or sides of your app interface, try a DockLayout:</p>
<pre><code>&lt;DockLayout&gt;
    &lt;Image dock=&quot;left&quot; width=&quot;80&quot; [src]=&quot;kittens[0]&quot; stretch=&quot;aspectFill&quot;&gt;&lt;/Image&gt;
    &lt;Image dock=&quot;top&quot; height=&quot;80&quot; [src]=&quot;kittens[1]&quot; stretch=&quot;aspectFill&quot;&gt;&lt;/Image&gt;
    &lt;Image dock=&quot;right&quot; width=&quot;80&quot; [src]=&quot;kittens[2]&quot; stretch=&quot;aspectFill&quot;&gt;&lt;/Image&gt;
    &lt;Image dock=&quot;bottom&quot; height=&quot;80&quot; [src]=&quot;kittens[3]&quot; stretch=&quot;aspectFill&quot;&gt;&lt;/Image&gt;
    &lt;Image [src]=&quot;kittens[4]&quot; stretch=&quot;aspectFill&quot;&gt;&lt;/Image&gt;
&lt;/DockLayout&gt;
</code></pre><p><b>Bonus!</b> Finally, try a ListView - which isn&#39;t a layout per se but deserves to be tried out. This one has some fancy layouting with left and right alignment:</p>
<pre><code>&lt;ListView [items]=&quot;kittens&quot;&gt;
    &lt;template let-item=&quot;item&quot; let-odd=&quot;odd&quot; let-even=&quot;even&quot;&gt;
        &lt;DockLayout&gt;
            &lt;Image [src]=&quot;item&quot; width=&quot;50&quot; height=&quot;50&quot; dock=&quot;{{ odd ? &#39;left&#39; : &#39;right&#39; }}&quot;&gt;&lt;/Image&gt;
            &lt;Label text=&quot;minou&quot; textWrap=&quot;true&quot; horizontalAlignment=&quot;{{ odd ? &#39;left&#39; : &#39;right&#39; }}&quot;&gt;&lt;/Label&gt;
        &lt;/DockLayout&gt;
    &lt;/template&gt;
&lt;/ListView&gt;
</code></pre><div class="exercise-end"></div>

<p>You can mix and match layouts, and have full control over the way your app looks using proper layouting.</p>
<h3 id="create-a-custom-layout">Create a custom layout</h3>
<p>Now it&#39;s time to have some fun with creating a little functional layout for our kitten adoption app. We&#39;re going to create a card layout by combining StackLayout and WrapLayout.</p>
<h4 class="exercise-start">
    <b>Exercise</b>: Place the kitten images in a scrolling StackLayout
</h4>

<p>What happens if you just put an array of kitten images within a StackLayout?</p>
<p>In <code>app.component.html</code>, add the following under the ActionBar:</p>
<pre><code>&lt;StackLayout&gt;
    &lt;Image src=&quot;https://placekitten.com/300/300&quot;&gt;&lt;/Image&gt;
    &lt;Image src=&quot;https://placekitten.com/300/300&quot;&gt;&lt;/Image&gt;
    &lt;Image src=&quot;https://placekitten.com/300/300&quot;&gt;&lt;/Image&gt;
    &lt;Image src=&quot;https://placekitten.com/300/300&quot;&gt;&lt;/Image&gt;
    &lt;Image src=&quot;https://placekitten.com/300/300&quot;&gt;&lt;/Image&gt;
&lt;/StackLayout&gt;
</code></pre><p>The images are stacked, but they don&#39;t scroll.</p>
<p>Nest this StackLayout into a ScrollView:</p>
<pre><code>&lt;ScrollView&gt;
  &lt;StackLayout&gt;
      &lt;Image src=&quot;https://placekitten.com/300/300&quot;&gt;&lt;/Image&gt;
      &lt;Image src=&quot;https://placekitten.com/300/300&quot;&gt;&lt;/Image&gt;
      &lt;Image src=&quot;https://placekitten.com/300/300&quot;&gt;&lt;/Image&gt;
      &lt;Image src=&quot;https://placekitten.com/300/300&quot;&gt;&lt;/Image&gt;
      &lt;Image src=&quot;https://placekitten.com/300/300&quot;&gt;&lt;/Image&gt;
  &lt;/StackLayout&gt; 
&lt;/ScrollView&gt;
</code></pre><div class="exercise-end"></div>

<blockquote>
    <p><strong>Note</strong>: If your iOS app complains about not being able to load insecure content, follow the instructions <a href="https://www.thepolyglotdeveloper.com/2015/12/fix-ios-9-app-transport-security-issues-in-nativescript/">here</a> and rebuild your app by running <code>tns run ios</code>.</p>
</blockquote>

<p>It&#39;s all fine to add images manually to an app, but any data-driven app will need to have data loaded dynamically. Let&#39;s get our StackLayout to loop, so we can start creating cards.</p>
<h4 class="exercise-start">
    <b>Exercise</b>: Create the kitten cards
</h4>

<p>In <code>app.component.html</code>, replace the current ScrollView with a layout that is generated dynamically:</p>
<pre><code>&lt;ScrollView&gt;
    &lt;StackLayout *ngFor=&quot;let kitten of kittens&quot;&gt;
       &lt;Image [src]=&quot;kitten&quot;&gt;&lt;/Image&gt;
    &lt;/StackLayout&gt;     
&lt;/ScrollView&gt;
</code></pre><div class="exercise-end"></div>

<p>Notice the actual images (there should be 10) aren&#39;t laid out in a loop. We need to nest our layout to do this.</p>
<h4 class="exercise-start">
    <b>Exercise</b>: Dynamically layout the cards
</h4>

<p>In <code>app.component.html</code>, replace the current ScrollView with a WrapLayout that will allow the StackLayout to loop.</p>
<pre><code>&lt;ScrollView&gt;
    &lt;WrapLayout&gt;
        &lt;StackLayout *ngFor=&quot;let kitten of kittens&quot;&gt;
           &lt;Image [src]=&quot;kitten&quot;&gt;&lt;/Image&gt;
        &lt;/StackLayout&gt;
    &lt;/WrapLayout&gt;     
&lt;/ScrollView&gt;
</code></pre><p>This allows the layout to loop, but the cards don&#39;t look very good. Let&#39;s control the width of the cards by making their width a percentage and align them horizontally:</p>
<pre><code>&lt;StackLayout width=&quot;40%&quot; *ngFor=&quot;let kitten of kittens&quot; horizontalAlignment=&quot;center&quot;&gt;
</code></pre><p>Align the cards to the center by controlling the alignment of the WrapLayout:</p>
<pre><code>&lt;WrapLayout horizontalAlignment=&quot;center&quot;&gt;
</code></pre><p>Now we have a wrapping layout of cards dynamically loaded onto the screen!</p>
<p>The final thing we want to do to these cards is to add a caption underneath the image. Add a caption of your own under the image:</p>
<pre><code>&lt;Label text=&quot;p&#39;tit minou&quot; horizontalAlignment=&quot;center&quot;&gt;&lt;/Label&gt;
</code></pre><div class="exercise-end"></div>

<blockquote>
    <p><strong>CHALLENGE!</strong>: Can you find a nicer way to layout these cards? Experiment with GridLayouts and AbsoluteLayouts. Show us your results!</p>
</blockquote>

<h3 id="styling-apps-with-css">Styling apps with CSS</h3>
<p>The cards are laid out properly, but they don&#39;t look very good. Time to add some styles!</p>
<h4 class="exercise-start">
    <b>Exercise</b>: Add some color
</h4>

<p>Choose a pallette of color from <a href="http://coolors.co">Coolors.co</a> or another pallette generator of your choice.</p>
<p>Attach a style sheet to your app by editing the <code>@Component</code> block in <code>app.component.ts</code>:</p>
<pre><code>@Component({
    selector: &quot;my-app&quot;,
    templateUrl: &quot;app.component.html&quot;,
    styleUrls: [&quot;app.css&quot;]
})
</code></pre><p>Delete everything in app.css. Add some color to the ActionBar and the Page background by adding a few styles to this file:</p>
<pre><code>Page {
    background-color: #EBEBD3;
}

ActionBar {
    background-color: #083D77;
    color: #EBEBD3;
}
</code></pre><p>Style the card by adding a css class to the StackLayout in <code>app.component.html</code>:</p>
<pre><code>&lt;StackLayout width=&quot;40%&quot; *ngFor=&quot;let kitten of kittens&quot; horizontalAlignment=&quot;center&quot; class=&quot;card&quot;&gt;
</code></pre><p>Finally, add styles to the card itself by adding this style to <code>app.css</code>:</p>
<pre><code>.card {
    background-color: #DA4167;
    margin: 10;
    border-radius: 5;
    color: #EBEBD3;
}
</code></pre><div class="exercise-end"></div>

<blockquote>
    <p><strong>CHALLENGE!</strong>: Can you find a nicer way to layout these cards? Experiment with GridLayouts and AbsoluteLayouts. Show us your results!</p>
</blockquote>

<p>Congratulations! With a bit of code, you&#39;ve succesfully created a nice card interface!</p>
<h3 id="creating-robust-animations">Creating robust animations</h3>
<p>The more mobile app development you do, the more you realize that clean animations are not just a &#39;nice-to-have&#39;, they are a &#39;must-have&#39;. Fortunately, NativeScript makes animating components really easy!</p>
<p>There are two ways to animate in NativeScript - let&#39;s look at the first way, which is to use the animation library.</p>
<h4 class="exercise-start">
    <b>Exercise</b>: Animate a card
</h4>

<p>First, we need to pass through a reference to the card we want to animate, and we do that in the <code>app.component.html</code> XML by giving it an id and adding a function that will fire when we tap the card:</p>
<pre><code>&lt;StackLayout (tap)=&quot;flip(card)&quot; #card width=&quot;40%&quot; *ngFor=&quot;let kitten of kittens&quot; horizontalAlignment=&quot;center&quot; class=&quot;card&quot;&gt;
</code></pre><p>Next, open <code>app.component.ts</code> and import the Animation library at the top:</p>
<pre><code>import { Animation } from &quot;ui/animation&quot;;
</code></pre><p>Then, build out the <code>animate()</code> function. Add this function under the constructor:</p>
<pre><code>animate(card) {
       card.animate({ opacity: 0 })
            .then(function () { return card.animate({ opacity: 1 }); })
            .then(function () { return card.animate({ translate: { x: 100, y: 100 } }); })
            .then(function () { return card.animate({ translate: { x: 0, y: 0 } }); })
            .then(function () { return card.animate({ scale: { x: 3, y: 3 } }); })
            .then(function () { return card.animate({ scale: { x: 1, y: 1 } }); })
            .then(function () { return card.animate({ rotate: 180 }); })
            .then(function () { return card.animate({ rotate: 0 }); })
            .then(function () {
            console.log(&quot;Animation finished&quot;);
        })
            .catch(function (e) {
            console.log(e.message);
        });    
    }
</code></pre><p>As you can see, we are chaining several animations together using promises. When one completes, the next fires. </p>
<div class="exercise-end"></div>

<blockquote>
    <p><strong>CHALLENGE!</strong>: Create a different animation using the Animation library as documented here: <a href="https://docs.nativescript.org/ui/animation">https://docs.nativescript.org/ui/animation</a></p>
</blockquote>

<p>Now, let&#39;s take a look at the other way of animating elements on the screen; by using CSS keyframe animation. Let&#39;s make the cards fade in during the page loading process. </p>
<h4 class="exercise-start">
    <b>Exercise</b>: Add a keyframe animation
</h4>

<p>To do this, we simply need to tweak the CSS, so open <code>app.css</code> and add a <code>@keyframes</code> rule named <code>card</code>:</p>
<pre><code>@keyframes card {
    from { opacity: 0 }
    to { opacity: 1}
}
</code></pre><p>Then, add these lines to the <code>.card</code> class:</p>
<pre><code>    animation-name: card;
    animation-duration: 4s;
    opacity: 0;
</code></pre><p>The app should refresh and the cards will fade in. </p>
<div class="exercise-end"></div>

<blockquote>
    <p><strong>CHALLENGE!</strong>: What else can you do with CSS animations?</p>
</blockquote>
			</div>
			<hr>
			<div class="chapter">
				<h2 id="beyond-the-basics">Beyond the basics</h2>
<p>You now know how to start NativeScript apps, and how to scaffold out a basic user interface. Now let’s dig deeper. In this workshop you’ll learn how to create Angular services, how to deal with data, how to setup routing, and how to access native code. Let’s start by building an Angular service.</p>
<h3 id="learning-angular-2-data-binding-events-and-servicess">Learning Angular 2 data binding, events, and servicess</h3>
<p>In this workshop you’ll be building a simple grocery-management application. Let’s dive right in.</p>
<h4 class="exercise-start">
    <b>Exercise</b>: Start up a new app
</h4>

<p>Go ahead and start up a new NativeScript app for this workshop:</p>
<pre><code>tns create WorkshopThree --ng
</code></pre><p>Next, change directories into your new project:</p>
<pre><code>cd WorkshopThree
</code></pre><div class="exercise-end"></div>

<p>Open this new project up in Visual Studio Code and let’s start working with Angular services.</p>
<h4 class="exercise-start">
    <b>Exercise</b>: Your first service
</h4>

<p>Replace the contents of <code>app.component.ts</code> with the code below, which creates a simple grocery list:</p>
<pre><code class="lang-TypeScript">import { Component, OnInit } from &quot;@angular/core&quot;;
import { GroceryService } from &quot;./grocery.service&quot;;
import { Grocery } from &quot;./grocery&quot;;

@Component({
  selector: &quot;my-app&quot;,
  templateUrl: &quot;app.component.html&quot;,
  providers: [GroceryService]
})
export class AppComponent {
  groceries: Array&lt;Grocery&gt;;

  constructor(private groceryService: GroceryService) {}
  ngOnInit() {
    this.groceries = this.groceryService.get();
  }
}
</code></pre>
<p>And then replace the contents of <code>app.component.html</code> with the code below, which shows the groceries on the screen:</p>
<pre><code class="lang-XML">&lt;GridLayout&gt;
  &lt;ListView [items]=&quot;groceries&quot;&gt;
    &lt;template let-item=&quot;item&quot;&gt;
      &lt;Label [text]=&quot;item.name&quot;&gt;&lt;/Label&gt;
    &lt;/template&gt;
  &lt;/ListView&gt;
&lt;/GridLayout&gt;
</code></pre>
<p>Next, create a file in the <code>app</code> folder named <code>grocery.service.ts</code>, and paste in the following code:</p>
<pre><code class="lang-TypeScript">import { Injectable } from &quot;@angular/core&quot;;
import { Grocery } from &quot;./grocery&quot;;

@Injectable()
export class GroceryService {
  get() {
    let groceries = [];
    groceries.push(new Grocery(&quot;Bananas&quot;));
    groceries.push(new Grocery(&quot;Apples&quot;));
    groceries.push(new Grocery(&quot;Grapes&quot;));
    return groceries;
  }
}
</code></pre>
<p>Finally, create another file in the <code>app</code> folder named <code>grocery.ts</code>, and paste in the following code:</p>
<pre><code class="lang-TypeScript">export class Grocery {
  name: string;
  constructor(name) {
    this.name = name;
  }
}
</code></pre>
<div class="exercise-end"></div>

<p>At this point you should see a hardcoded list of data. Let’s refactor this app so that the data isn’t hardcoded.</p>
<h4 class="exercise-start">
    <b>Exercise</b>: Allow users to add groceries
</h4>

<p>Update you <code>app.css</code> with the code below, which will add a bit of spacing to the app you’re building.</p>
<pre><code class="lang-CSS">TextField, Button, Label {
    padding: 15;
}
</code></pre>
<p>Next, change your <code>app.component.html</code> file to use the code below, which sets up a UI that allows users to add data to the list.</p>
<pre><code class="lang-XML">&lt;GridLayout&gt;
  &lt;GridLayout rows=&quot;auto, *&quot;&gt;

    &lt;GridLayout row=&quot;0&quot; columns=&quot;*, auto&quot;&gt;
      &lt;TextField col=&quot;0&quot; hint=&quot;Enter a grocery&quot;&gt;&lt;/TextField&gt;
      &lt;Button col=&quot;1&quot; text=&quot;Add&quot;&gt;&lt;/Button&gt;
    &lt;/GridLayout&gt;

    &lt;ListView row=&quot;1&quot; [items]=&quot;groceries&quot;&gt;
      &lt;template let-item=&quot;item&quot;&gt;
        &lt;Label [text]=&quot;item.name&quot;&gt;&lt;/Label&gt;
      &lt;/template&gt;
    &lt;/ListView&gt;
  &lt;/GridLayout&gt;
&lt;/GridLayout&gt;
</code></pre>
<p>With that setup out of the way, let’s try a quick challenge.</p>
<div class="exercise-end"></div>

<h4 class="exercise-start">
    <b>Challenge</b>: Adding a tap handler
</h4>

<p>NativeScript button elements have a <code>tap</code> event that you can subscribe to using <code>&lt;Button (tap)=&quot;functionName()&quot;&gt;</code>. Angular 2 lets you implement two-way data binding between a text field and a component property using the <code>[(ngModel)]</code> styntax, for instance <code>&lt;TextField [(ngModel)]=&quot;grocery&quot;&gt;</code>.</p>
<p>Your challenge is to combine the two, so that when the user taps the “Add” button they see the value they typed in the text field.</p>
<div class="solution-start"></div>

<p>Use the following code for your <code>app.component.html</code>:</p>
<pre><code class="lang-XML">&lt;GridLayout&gt;
  &lt;GridLayout rows=&quot;auto, *&quot;&gt;

    &lt;GridLayout row=&quot;0&quot; columns=&quot;*, auto&quot;&gt;
      &lt;TextField col=&quot;0&quot; hint=&quot;Enter a grocery&quot; [(ngModel)]=&quot;grocery&quot;&gt;&lt;/TextField&gt;
      &lt;Button col=&quot;1&quot; text=&quot;Add&quot; (tap)=&quot;add()&quot;&gt;&lt;/Button&gt;
    &lt;/GridLayout&gt;

    &lt;ListView row=&quot;1&quot; [items]=&quot;groceries&quot;&gt;
      &lt;template let-item=&quot;item&quot;&gt;
        &lt;Label [text]=&quot;item.name&quot;&gt;&lt;/Label&gt;
      &lt;/template&gt;
    &lt;/ListView&gt;
  &lt;/GridLayout&gt;
&lt;/GridLayout&gt;
</code></pre>
<p>And the following code for your <code>app.component.ts</code>:</p>
<pre><code class="lang-TypeScript">import { Component, OnInit } from &quot;@angular/core&quot;;
import { GroceryService } from &quot;./grocery.service&quot;;
import { Grocery } from &quot;./grocery&quot;;

@Component({
  selector: &quot;my-app&quot;,
  templateUrl: &quot;app.component.html&quot;,
  providers: [GroceryService]
})
export class AppComponent {
  grocery: String;
  groceries: Array&lt;Grocery&gt;;

  constructor(private groceryService: GroceryService) {}

  ngOnInit() {
    this.groceries = this.groceryService.get();
  }

  add() {
    alert(&quot;You typed &quot; + this.grocery);
  }
}
</code></pre>
<div class="solution-end"></div>

<div class="exercise-end"></div>

<p>Reference:</p>
<ul>
<li><a href="https://angular.io/docs/ts/latest/tutorial/toh-pt4.html">Angular services</a></li>
<li><a href="https://angular.io/docs/ts/latest/guide/dependency-injection.html">Angular dependency injection</a></li>
<li><a href="https://docs.nativescript.org/angular/ui/list-view.html">Using NativeScript ListViews</a></li>
</ul>
<h3 id="dealing-with-data">Dealing with data</h3>
<p>In this next section of the workshop you’ll enhance the small grocery list to allow users to add items to the list, and also to persist grocery lists to their devices.</p>
<h4 class="exercise-start">
    <b>Exercise</b>: Allow users to add data
</h4>

<p>First, replace the contents of <code>grocery.service.ts</code> with the code below. The changes include removing the hardcoded list, as well as a new <code>add()</code> method.</p>
<pre><code class="lang-TypeScript">import { Injectable } from &quot;@angular/core&quot;;
import { Grocery } from &quot;./grocery&quot;;

@Injectable()
export class GroceryService {
  private groceries: Array&lt;Grocery&gt;;

  constructor() {
    this.groceries = [];
  }

  get() {
    return this.groceries;
  }

  add(name) {
    this.groceries.unshift(new Grocery(name));
  }
}
</code></pre>
<p>Next, replace the contents of <code>app.component.ts</code> with the code below:</p>
<pre><code class="lang-TypeScript">import { Component, OnInit } from &quot;@angular/core&quot;;
import { GroceryService } from &quot;./grocery.service&quot;;
import { Grocery } from &quot;./grocery&quot;;

@Component({
  selector: &quot;my-app&quot;,
  templateUrl: &quot;app.component.html&quot;,
  providers: [GroceryService]
})
export class AppComponent {
  grocery: String;
  groceries: Array&lt;Grocery&gt;;

  constructor(private groceryService: GroceryService) {}

  ngOnInit() {
    this.groceries = this.groceryService.get();
  }

  add() {
    this.groceryService.add(this.grocery);
    this.grocery = &quot;&quot;;
  }
}
</code></pre>
<div class="exercise-end"></div>

<p>You now have a very basic list, but there’s a big problem: this list isn’t persisted. Let’s look at how to change that.</p>
<h4 class="exercise-start">
    <b>Exercise</b>: Persisting data
</h4>

<p>Start by adding the import below to the top of your <code>grocery.service.ts</code> file:</p>
<pre><code class="lang-TypeScript">import { getString, setString } from &quot;application-settings&quot;;
</code></pre>
<p>Next, in the same file, replace the existing <code>add()</code> function with the code below, which saves the grocery list using the application settings module you just imported.</p>
<pre><code class="lang-TypeScript">add(name) {
  this.groceries.unshift(new Grocery(name));
  let names = this.groceries.map((item: Grocery) =&gt; {
    return item.name;
  });
  setString(&quot;groceries&quot;, names.toString());
}
</code></pre>
<p>Your data is now being saved, but it’s up to you to determine how load this data when the application loads. A challenge!</p>
<div class="exercise-end"></div>

<h4 class="exercise-start">
    <b>Challenge</b>: Loading saved data
</h4>

<p>Your challenge is to change <code>grocery.service.ts</code> to automatically load any data previously stored by the user. As a tip, you’ll want to use the <code>getString()</code> method you imported in the previous exercise.</p>
<blockquote>
<p><strong>NOTE</strong>: A convenient way to restart the app is to add or remove a new line from the TypeScript file you’re currently working on.</p>
</blockquote>
<div class="solution-start"></div>

<p>Replace the constructor in <code>grocery.service.ts</code> with the code below:</p>
<pre><code class="lang-TypeScript">constructor() {
  this.groceries = [];
  let savedGroceriesString = getString(&quot;groceries&quot;); 
  if (savedGroceriesString) {
    savedGroceriesString.split(&quot;,&quot;).forEach((grocery) =&gt; {
      this.groceries.push(new Grocery(grocery));
    });
  }
}
</code></pre>
<div class="solution-end"></div>
<div class="exercise-end"></div>

<p>There are many ways to store data in NativeScript apps, in addition to using the application settings module, you may wish to use one of the options listed below.</p>
<p>Reference:</p>
<ul>
<li><a href="https://github.com/EddyVerbruggen/nativescript-plugin-firebase">NativeScript Firebase plugin</a></li>
<li><a href="https://github.com/couchbaselabs/nativescript-couchbase">NativeScript Couchbase plugin</a></li>
<li><a href="https://github.com/NathanaelA/nativescript-sqlite">NativeScript SQLLite plugin</a></li>
<li><a href="http://docs.nativescript.org/angular/tutorial/ng-chapter-3#34-services">Accessing RESTful HTTP APIs</a></li>
</ul>
<h3 id="setting-up-routing-and-navigation">Setting up routing and navigation</h3>
<p>Routing in a NativeScript app with Angular 2 works very similarly to how it works on the web. In order to get things up and running we have to create a few files.</p>
<h4 class="exercise-start">
    <b>Exercise</b>: Set up the routing infrastructure
</h4>

<ul>
<li>Create a new <code>groceries</code> folder in your app.</li>
<li>Move the <code>grocery.ts</code> and <code>grocery.service.ts</code> files into the new <code>groceries</code> folder.</li>
<li>Create new files named <code>groceries.component.html</code> and <code>groceries.component.ts</code> within the <code>groceries</code> folder.</li>
<li>Create a file named <code>app.routes.ts</code> in your root <code>app</code> folder.</li>
</ul>
<p>You should now have a folder structure that looks like this.</p>
<div class="no-copy-button"></div>

<pre><code>app
├── app.component.ts
├── app.css
├── app.routes.ts
├── groceries
│   ├── groceries.component.html
│   ├── groceries.component.ts
│   ├── grocery.service.ts
│   └── grocery.ts
├── main.ts
└── package.json
</code></pre><p>Next, update your <code>groceries.component.ts</code> file to use the code below:</p>
<pre><code class="lang-TypeScript">import { Component, OnInit } from &quot;@angular/core&quot;;
import { RouterExtensions } from &quot;nativescript-angular/router&quot;;

import { GroceryService } from &quot;./grocery.service&quot;;
import { Grocery } from &quot;./grocery&quot;;

@Component({
  selector: &quot;my-app&quot;,
  templateUrl: &quot;groceries/groceries.component.html&quot;,
  providers: [GroceryService]
})
export class GroceriesComponent {
  grocery: String;
  groceries: Array&lt;Grocery&gt;;

  constructor(private groceryService: GroceryService) {}

  ngOnInit() {
    this.groceries = this.groceryService.get();
  }

  add() {
    this.groceryService.add(this.grocery);
    this.grocery = &quot;&quot;;
  }
}
</code></pre>
<p>After that, copy and paste the contents of <code>app.component.html</code> into <code>groceries.component.html</code>, and delete the <code>app.component.html</code> file.</p>
<p>Finally, update the following three files as follows.</p>
<p><code>app.routes.ts</code>:</p>
<pre><code class="lang-TypeScript">import {RouterConfig} from &quot;@angular/router&quot;;
import {nsProvideRouter} from &quot;nativescript-angular/router&quot;
import {GroceriesComponent} from &quot;./groceries/groceries.component&quot;;

export const routes: RouterConfig = [
  { path: &quot;&quot;, component: GroceriesComponent }
];

export const APP_ROUTER_PROVIDERS = [
  nsProvideRouter(routes, {})
];
</code></pre>
<p><code>app.component.ts</code>:</p>
<pre><code class="lang-TypeScript">import {RouterConfig} from &quot;@angular/router&quot;;
import {nsProvideRouter} from &quot;nativescript-angular/router&quot;
import {GroceriesComponent} from &quot;./groceries/groceries.component&quot;;

export const routes: RouterConfig = [
  { path: &quot;&quot;, component: GroceriesComponent }
];

export const APP_ROUTER_PROVIDERS = [
  nsProvideRouter(routes, {})
];
</code></pre>
<p><code>main.ts</code>:</p>
<pre><code class="lang-TypeScript">import {nativeScriptBootstrap} from &quot;nativescript-angular/application&quot;;
import {AppComponent} from &quot;./app.component&quot;;
import {APP_ROUTER_PROVIDERS} from &quot;./app.routes&quot;;

nativeScriptBootstrap(AppComponent, [APP_ROUTER_PROVIDERS]);
</code></pre>
<div class="exercise-end"></div>

<p>With that your app hasn’t changed, but you’ve moved files around so that you’re setup to add additional routes. Let’s do that!</p>
<h4 class="exercise-start">
    <b>Exercise</b>: Scafold out a new route
</h4>

<p>Create a new <code>about</code> folder within the <code>app</code> folder, and add two files named <code>about.component.html</code> and <code>about.component.ts</code>.</p>
<div class="no-copy-button"></div>

<pre><code>app
├── about
│   ├── about.component.html
│   └── about.component.ts
├── groceries
│   └── ...
└── ...
</code></pre><p>Paste the following code in for <code>about.component.html</code>:</p>
<pre><code class="lang-XML">&lt;ActionBar title=&quot;About&quot;&gt;&lt;/ActionBar&gt;

&lt;StackLayout&gt;
  &lt;Label height=&quot;100&quot; text=&quot;Groceries is a simple grocery management app.&quot; textWrap=&quot;true&quot;&gt;&lt;/Label&gt;
&lt;/StackLayout&gt;
</code></pre>
<p>And the following code to your <code>about.component.ts</code> file:</p>
<pre><code class="lang-TypeScript">import { Component, OnInit } from &quot;@angular/core&quot;;

@Component({
  selector: &quot;my-app&quot;,
  templateUrl: &quot;about/about.component.html&quot;
})
export class AboutComponent {}
</code></pre>
<p>Next, open <code>groceries.component.html</code> back up and add the following code to the very top of the file:</p>
<pre><code class="lang-TypeScript">&lt;ActionBar title=&quot;Groceries&quot;&gt;
  &lt;ActionItem text=&quot;About&quot; (tap)=&quot;navigate()&quot;&gt;&lt;/ActionItem&gt;
&lt;/ActionBar&gt;
</code></pre>
<p>After that, open <code>groceries.component.ts</code> and add the method below to the <code>GroceriesComponent</code> class:</p>
<pre><code class="lang-TypeScript">navigate() {
  this.routerExtensions.navigate([&quot;/about&quot;]);
}
</code></pre>
<p>Finally, replace the contents of <code>app.routes.ts</code> with the code below, which registers the new about route.</p>
<pre><code class="lang-TypeScript">import {RouterConfig} from &quot;@angular/router&quot;;
import {nsProvideRouter} from &quot;nativescript-angular/router&quot;

import {AboutComponent} from &quot;./about/about.component&quot;;
import {GroceriesComponent} from &quot;./groceries/groceries.component&quot;;

export const routes: RouterConfig = [
  { path: &quot;&quot;, component: GroceriesComponent },
  { path: &quot;about&quot;, component: AboutComponent },
];

export const APP_ROUTER_PROVIDERS = [
  nsProvideRouter(routes, {})
];
</code></pre>
<div class="exercise-end"></div>

<p>At this point you now have two routes, but let’s try tweaking how the routing works with a challenge.</p>
<h4 class="exercise-start">
    <b>Challenge</b>: Configure routing
</h4>

<p>You have two tasks in this challenge: first you must make the navigation from the main component to the about component perform a flip animation, and second you must make the “About” button appear on the right-hand side of the ActionBar on iOS. (If you’re only setup to run Android, work with someone nearby on iOS for this one.)</p>
<p>Here are some documentation pages you can refer to for help:</p>
<ul>
<li><a href="https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#specifying-page-transitions">Specifying page transitions</a></li>
<li><a href="https://docs.nativescript.org/angular/ui/action-bar.html#ios-specifics">iOS specifics of working with NativeScript ActionBars</a></li>
</ul>
<div class="solution-start"></div>

<p>Change the <code>navigate()</code> method in <code>groceries.component.ts</code> to use the code below:</p>
<pre><code class="lang-TypeScript">navigate() {
  this.routerExtensions.navigate([&quot;/about&quot;], {
    transition: {
      name: &quot;flip&quot;
    }
  });
}
</code></pre>
<p>Change the <code>ActionItem</code> in <code>groceries.component.html</code> to have a new <code>ios.position</code> attribute:</p>
<pre><code class="lang-XML">&lt;ActionItem text=&quot;About&quot; (tap)=&quot;navigate()&quot; ios.position=&quot;right&quot;&gt;&lt;/ActionItem&gt;
</code></pre>
<div class="solution-end"></div>

<div class="exercise-end"></div>

<p>With routing out of the way, let’s now look at what is perhaps NativeScript’s coolest feature: the ability to access native iOS and Android APIs.</p>
<h3 id="adding-additional-angular-functionality">Adding additional Angular functionality</h3>
<p>Now that you have a bit of Angular experience let’s try adding a few additional features to this groceries app. This section will be a super special ALL CHALLENGES SECTION—meaning, we’re going to suggest some new functionality for the application, and leave it up to you to do the implementations. No worries though, we’ll provide tips to point you in the right direction, as well as the solutions if you’d like to cheat 😀</p>
<h4 class="exercise-start">
    <b>Challenge</b>: Add delete functionality
</h4>

<p>A grocery list is kind of useless if you can’t delete from the list, and your challenge is to implement a UI that allows users to do that. There are many ways you can choose to implement a UI like this. One potential option is laid out in the Solution below, however, you’re free to take any approach you’d like.</p>
<div class="solution-start"></div>

<p>First, update the <code>&lt;template&gt;</code> in <code>groceries.component.html</code> to use the code below:</p>
<pre><code class="lang-XML">&lt;template let-item=&quot;item&quot;&gt;
  &lt;GridLayout columns=&quot;*, auto&quot;&gt;
    &lt;Label col=&quot;0&quot; [text]=&quot;item.name&quot;&gt;&lt;/Label&gt;
    &lt;Label col=&quot;1&quot; (tap)=&quot;delete(item)&quot; text=&quot;Delete&quot; color=&quot;red&quot;&gt;&lt;/Label&gt;
  &lt;/GridLayout&gt;
&lt;/template&gt;
</code></pre>
<p>Next, add the following function to the <code>GroceriesComponent</code> class in <code>groceries.component.ts</code>:</p>
<pre><code class="lang-TypeScript">delete(grocery: Grocery) {
  this.groceryService.delete(grocery);
}
</code></pre>
<p>Finally, replace the <code>groceries.service.ts</code> file with the code below, which adds a new <code>delete()</code> method, as well as a minor refactor to save changes on additions and deletions.</p>
<pre><code class="lang-TypeScript">import { Injectable } from &quot;@angular/core&quot;;
import { getString, setString } from &quot;application-settings&quot;;

import { Grocery } from &quot;./grocery&quot;;

@Injectable()
export class GroceryService {
  private groceries: Array&lt;Grocery&gt;;

  constructor() {
    this.groceries = [];
    let savedGroceriesString = getString(&quot;groceries&quot;); 
    if (savedGroceriesString) {
      savedGroceriesString.split(&quot;,&quot;).forEach((grocery) =&gt; {
        this.groceries.push(new Grocery(grocery));
      });
    }
  }

  get() {
    return this.groceries;
  }

  add(name) {
    this.groceries.unshift(new Grocery(name));
    this.save();
  }

  delete(grocery: Grocery) {
    let index = -1;
    this.groceries.forEach((item: Grocery, i) =&gt; {
      if (item === grocery) {
        index = i;
      }
    });
    this.groceries.splice(index, 1);
    this.save();
  }

  private save() {
    let names = this.groceries.map((item: Grocery) =&gt; {
      return item.name;
    });
    setString(&quot;groceries&quot;, names.toString());
  }
}
</code></pre>
<div class="solution-end"></div>

<div class="exercise-end"></div>

<p>With the ability to delete groceries implemented, let’s try one additional challenge.</p>
<h4 class="exercise-start">
    <b>Challenge</b>: Add groceries on “Enter” presses
</h4>

<p>Currently you can add groceries by tapping on the “Add” button. But it would be nice if you could also add by pressing the DONE button (or Enter/Return when in a simulator). As a hint, try searching for “return” on the <a href="http://docs.nativescript.org/api-reference/classes/_ui_text_field_.textfield.html">TextField’s API documentation</a>.</p>
<div class="solution-start"></div>

<p>Change the <code>&lt;TextField&gt;</code> in <code>groceries.component.html</code> to use the code below, which adds a new <code>returnKeyType</code> property and <code>returnPress</code> event handler.</p>
<pre><code class="lang-XML">&lt;TextField col=&quot;0&quot; hint=&quot;Enter a grocery&quot; [(ngModel)]=&quot;grocery&quot; returnKeyType=&quot;done&quot; (returnPress)=&quot;add()&quot;&gt;&lt;/TextField&gt;
</code></pre>
<div class="solution-end"></div>

<div class="exercise-end"></div>

<p>And that’s it. It’s time for lunch, and then back to more NativeScript and Angular 2!</p>

			</div>
			<hr>
			<div class="chapter">
				<h2 id="user-interface-deep-dive">User interface deep dive</h2>
<h3 id="creating-and-styling-action-bars">Creating and styling action bars</h3>
<h3 id="implementing-navigation-patterns">Implementing navigation patterns</h3>
<h3 id="building-with-non-trivial-layouts">Building with non-trivial layouts</h3>

			</div>
			<hr>
			<div class="chapter">
				<h2 id="extensibility-and-plugins">Extensibility and plugins</h2>

			</div>
			<hr>
			<div class="chapter">
				<h2 id="code-sharing">Code sharing</h2>

			</div>
			<hr>
			<div class="chapter">
				<h2 id="where-to-go-from-here-">Where to go from here?</h2>

			</div>
		</div>
	</div>
</div>

<script src="scripts/built.js"></script>

</body>
</html>